.password__input {
  width: 710px;
}
@media screen and (max-width: 1279px) {
  .password__input {
    width: 510px;
  }
 }
@media screen and (max-width: 1023px) {
  .password__input {
    width: 409px;
  }
 }
 @media screen and (max-width: 767px) {
  .password__input {
    width: 225px;
  }
 }
