.password__subtitle {
  width: 800px;
  margin: 10px 0 0;
  font-size: 16px;
  color: lightgray;
}
@media screen and (max-width: 1279px) {
  .password__subtitle {
    width: 600px;
  }
 }
@media screen and (max-width: 1023px) {
  .password__subtitle {
    width: 500px;
  }
 }
 @media screen and (max-width: 767px) {
  .password__subtitle {
    width: 315px;
  }
 }
